@layer {
  .text-preset {
    &-1,
    &-2 {
      font-family: var(--ff-poppins);
      font-size: var(--fs-24-36);
      line-height: var(--lh-140);
      letter-spacing: var(--ls-025);
    }
    &-1 {
      font-weight: var(--fw-600);
    }
    &-2 {
      font-weight: var(--fw-200);
    }

    &-3 {
      font-family: var(--ff-poppins);
      font-weight: var(--fw-600);
      font-size: var(--fs-20);
      line-height: var(--lh-135);
      letter-spacing: var(--ls-0);
    }

    &-4 {
      font-family: var(--ff-poppins);
      font-weight: var(--fw-400);
      font-size: var(--fs-15);
      line-height: var(--lh-140);
      letter-spacing: var(--ls-0);
    }

    &-5 {
      font-family: var(--ff-poppins);
      font-weight: var(--fw-400);
      font-size: var(--fs-13);
      line-height: var(--lh-160);
      letter-spacing: var(--ls-0);
    }
  }
}
